{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form, {'methode': 'POST'}) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-2">
                {{ form_row(form.civility) }}
            </div>
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-2">
                {{ form_widget(form.pseudo) }}
            </div>
        </div>
        <div class="row">
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-3">
                {{ form_widget(form.lastName) }}
            </div>
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-3>">
                {{ form_widget(form.firstName) }}
            </div>
        </div>
        <div class="row">
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-2">
                {{ form_widget(form.street) }}
            </div>
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-2">
                {{ form_widget(form.complement) }}
            </div>
        </div>
        <div class="row">
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-2">
                {{ form_widget(form.city) }}
            </div>
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-2">
                {{ form_widget(form.postalCode) }}
            </div>
        </div>
        <div class="row">
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-2">
                {{ form_widget(form.phoneNumber) }}
            </div>
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-2">
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-2">
                {{ form_widget(form.password) }}
            </div>
        </div>
        <div class="row">
            <div class="lo col-12 col-sm-5 col-lg-3 col-xl-2">
                <input type="submit" value="S'inscrire">
            </div>
        </div>
        {{ form_end(form) }}



    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

        })
    </script>
{% endblock %}

